<div class = "container">
    <%= simple_form_for [ @product, @booking ] do |f| %>
      <%= f.input :start_date, as: :date %>
      <%= f.input :end_date, as: :date %>
      <div class="form-actions">
        <%= f.submit "Book Now", class: "btn btn-warning my-3" %>
      </div>
    <% end %>
    <%= link_to "back to main page", products_path %>
</div>
