<div class="container">
  <%@received_bookings.each do |rb|%>
    <%= rb.product.name %>
    <%= rb.product.address %>
    <%= rb.start_date %>
    <%= rb.end_date %>
    <% if rb.status == "pending" %>
      <% if policy(rb).update? %>
        <%= link_to "accept", booking_path(rb, {status: "accepted"}), method: :patch, class: "update-button"%>
        <%= link_to "reject", booking_path(rb, {status: "rejected"}), method: :patch, class: "update-button"%>
      <% end %>
      <% elsif rb.status == "accepted"%>
        <p> It's been accepted already </p>
      <% else %>
        <p> It's been rejected </p>
      <% end %>
  <% end %>
</div>
