<div class="img-fluid shadow-lg rounded"
     id="map"
     style="width: 100%; height: 600px;"
     data-markers="<%= @markers.to_json %>"
     data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">

</div>
<div><%= form_tag products_path, method: :get do %>
  <%= text_field_tag :query,
    params[:query],
    class: "form-control",
    placeholder: "Find Headphones"
  %>
  <%= submit_tag "Search", class: "btn btn-primary" %>
<% end %>
</div>
<div class="album py-5 bg-light shadow-lg rounded">
  <div class="container">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
      <% @products.each do |product| %>
        <div class="col mb-3">
          <div class="card shadow-sm">
            <div class="col-auto d-none d-lg-block">
              <%= cl_image_tag(product.picture_url, :class => "card-img-top") %>
            </div>
            <div class="card-body">
              <h3 class="card-title"><%= product.name %></h3>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
                content. This content is a little bit longer.</p>
            </div>

            <div class="card-footer d-flex justify-content-between align-items-center ">
              <div class="btn-group">
                <%= link_to "details", product_path(product), class: "btn btn-outline-secondary" %>
              </div>
              <div>
                <div class="text-muted"><strong><%= product.price_per_day %> €</strong></div>

              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

              <%# <% <img src="<%= product.picture_url" class="card-img-top"> %>
