<div class="container">
  <div class="row align-items-center">
   <div class="col justify-content-center">
      <div class="card" style="width: 32rem;">
        <img src="<%= @product.picture_url %>"  class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title"><%= @product.name %></h5>
          <p class="card-text"><%= @product.description %></p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">$ <%= @product.price_per_day %></li>
        </ul>
            <div class="form-actions">
            <%= simple_form_for([ @product, @booking ]) do |f| %>
            <%= f.input :start_date, input_html: { class: "m-2" } %>
            <%= f.input :end_date, input_html: { class: "m-2" } %>
            <%= f.submit "Submit your product", class: "btn btn-warning my-3" %>
          <% end %>
          <%= link_to "Edit", edit_product_path(@product), class: "btn btn-secondary" %>
          <%= link_to "Delete",
            product_path(@product),
            class: "btn btn-danger",
            method: :delete,
            data: { confirm: "Are you sure?" } %>
      </div>
    </div>
  </div>
</div>
