<div class="container">
  <div class="card text-center m-5 shadow-lg rounded">
    <div class="card-body ">
      <%= cl_image_tag(@product.picture_url, :class => "img-fluid") %>
      <h3 class="card-title"><%= @product.name %></h3>
      <p class="card-text"><%= @product.description %></p>
      <h4><%= @product.price_per_day %> €</h4>
      <div class="d-grid gap-2">
        <%= link_to "Book", product_path, class: "btn btn-secondary" %></div>
    </div>
    <div class="card-footer text-muted d-flex justify-content-end">
      <div class="btn-group">
        <%= link_to "Edit", edit_product_path(@product), class: "btn btn-outline-secondary mx-3" %>
        <%= link_to "Delete",
                    product_path(@product),
                    class:  "btn btn-outline-warning",
                    method: :delete,
                    data:   { confirm: "Are you sure?" } %>
      </div>
    </div>
  </div>
</div>
