<div class="container">
  <div class="row align-items-center">
   <div class="col justify-content-center">
      <div class="card" style="width: 32rem;">
        <img src="<%= @product.picture_url %>"  class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title"><%= @product.name %></h5>
          <p class="card-text"><%= @product.description %></p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">$ <%= @product.price_per_day %></li>
          <li class="list-group-item">Booking</li>
          <li class="list-group-item">Calendar??</li>
        </ul>
          <%= link_to "Edit", edit_product_path(@product), class: "btn btn-secondary" %>
          <%= link_to "Delete",
            product_path(@product),
            class: "btn btn-danger",
            method: :delete,
            data: { confirm: "Are you sure?" } %>
      </div>
    </div>
  </div>
</div>
